.autocomplete {
    background: white;
    z-index: 1000;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid $border-color;
}


.autocomplete > div {
    padding: 5px 10px;
}

.autocomplete .group {
    background: $light;
    color: $secondary;
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
    background: $light;
    color: $secondary;
    cursor: pointer;
}
