.section-with-side-banner {
    @include media-breakpoint-up(lg) {
        padding-right:calc(300px + #{$grid-gutter-width});
        position:relative;
        min-height:640px;
    }
}

.banner-side {
    display:none;
    @include media-breakpoint-up(lg) {
        position:absolute;
        top:0;
        right:0;
        display:block;
    }
}

#wallpaper-ad {
    z-index:0 !important;
    width: 100%; 
    max-width: 1024px; 
    height: 250px; 
    margin: 0px auto; 
    background-color: transparent; 
    position: relative;
    >img {
        display:none;
        width: 0;
        height: 0;
    }
    #bg-ad-top-parent {
        width: 100%; 
        max-width: 1024px; 
        height: 250px; 
        overflow: hidden; 
        position: relative;
        #bg-ad-top {
            display: block; 
            width: 1024px; 
            height: 250px; 
            position: fixed; 
            top: 43px; 
            left: 120px;
        }
    }
    #bg-ad-left {
        display: block; 
        width: 448px; 
        height: 1000px; 
        overflow: hidden; 
        position: fixed; 
        top: 43px; 
    }
    #bg-ad-right {
        display: block; 
        width: 448px; 
        height: 1000px;
        overflow: hidden; 
        position: fixed; 
        top: 43px; 
    }
}
