/* Dropbown profile menu */

#page-header .dropdown-profile-menu {
    width:100%;
    position:fixed !important;
    top: $nav-link-height;
    left:0;
    right:0;
    @include media-breakpoint-up(sm) {
        width:320px;
        position:absolute !important;
        left:auto;
    }
}

/* Navbar */

#page-header .navbar-nav .nav-link {
    padding-right:0.5rem;
    padding-left:0.5rem;
    &:hover {
        background:lighten($primary, 5%) !important;
    }
    &:focus {
        background:darken($primary, 5%);
    }
}
