.rating {
    line-height:1em;
    display:inline-block;
}

.rating-scam {

}

.rating-stars {
    line-height:1em;
    display:block;
    svg {
        display:block;
    }
    .rating-stars-full {
        display:block;
        position:relative;
        color:$gray-200; 
    }
    .rating-stars-partial {
        display:block;
        overflow:hidden;
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        color:$warning;
    }
}
